* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/*-----------------------
--------  HERO  ---------
-----------------------*/

.hero-container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  width: 40%;
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

/*-----------------------
--------  ABOUT ---------
-----------------------*/

.about-container {
  color: white;
  display: flex;
}

.about-item {
  width: 50%;
}

/*-----------------------
------  EXPERIENCE ------
-----------------------*/

.experience-container {
  color: white;
}

/*-----------------------
--------  FOOTER ---------
-----------------------*/

.footer-container {
  background-color: rgb(133, 78, 133);
  margin-top: 30px;
}

.footer {
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




